header {position: fixed; top: 0; left: 0; right: 0; z-index: 9999; background: #fff;}
#gnb {display: flex; position: relative; height: 100px; border-bottom: 1px solid #d4d4d4;}
.gnbWrap{display: flex; justify-content: space-between;}
#gnb > .container {display: flex; align-items:center; justify-content: space-between; flex: none;}
.topLogo {display: inline-block; width: 140px; height: 40px; outline: 2px solid red; color: #000;}
.topLogo a {display: block; height: 100%; text-indent:-9999px; background-image: url('/renewal2021/img/common/logo_header.png'); background-repeat:no-repeat; background-position:center; background-size:contain;}
.gnbDepth1 {display: flex; margin-right: -28px; font-size: 18px;}
.gnbDepth1 > li {padding: 0 28px; font-weight: 700; list-style: none;}
.gnbDepth1 > li:hover .gnbDepth2{display: block;}
.gnbDepth1 > li.on, .gnbDepth1 > li:hover {color: #004eff;}
.gnbDepth1 > li.on > a, .gnbDepth1 > li:hover > a {border-bottom: 3px solid;}
.gnbDepth1 > li > a {display: flex; align-items: center; height: 100px; padding: 0 3px; }
.gnbDepth2 {display: none; position: absolute; top: 101%; left: 0; right: 0; z-index: 999; width: 100%; padding: 30px 0 35px; background: #fff; color: #000001; box-shadow: 0px 11px 10px 0px rgba(13, 14, 21, 0.2); -webkit-box-shadow: 0px 11px 10px 0px rgba(13, 14, 21, 0.2); -moz-box-shadow: 0px 11px 10px 0px rgba(13, 14, 21, 0.2);}
.gnbDepth2 > .container {display: flex; align-items: center; overflow:inherit;}
.gnbDepth2-list {display: flex; justify-content: space-between; font-size: 17px;}
.gnbDepth2-list > li {font-weight: 400;  list-style: none;}
.gnbDepth2-list > li:hover {color: #004eff;}
.gnbDepth2-list > li > a {vertical-align: middle;}
.gnb2-tit {width: 235px; font-weight: 700; font-size: 26px;}
main {padding-top: 140px;}
